<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <img src="assets/images/banner.png" />
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <app-vehicle></app-vehicle>
    </div>
    <div class="col"></div>
  </div>
  <div class="row fixed-bottom">
    <div class="col"></div>
      <div class="col">
        Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
      </div>
      <div class="col"></div>
  </div>
</div>
